<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styling.css">
  <title>Blogpost editing</title>
</head>
<html>
  <body>
      <p>name:<%= locals.post.name %></p>
    <form method="post" action=<%= "/edit?id="+locals.id %>>
      <textarea required="true" id="header" name="header"><%= locals.post.header %></textarea>
      <textarea required="true" id="body" name="postBody"><%= locals.post.postBody %></textarea>
      <input type="hidden" name="name" value=<%= ""+locals.post.name %>>
      <input type="hidden" name="date" value=<%= locals.post.date %>>
      <button type="submit">Save</button>
    </form>
  </body>
</html>